version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - task-network
    volumes:
      - task_db_data:/data

  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - task-network

networks:
  task-network:
    driver: bridge

volumes:
  task_db_data:
